body {
      background-color: #f2f2f2;
    }
    .navbar {
      background: #ddd;
    }
    .pricing, .services {
      margin-top: 20px;
    }
    .card {
      background: #e8e8e8;
      box-shadow: 0 2px 6px rgba(0,0,0,0.2);
      border: none;
      text-align: center;
    }
    .hero {
      background: url('https://static.vecteezy.com/system/resources/previews/001/836/089/original/abstract-pastel-colorful-gradient-background-concept-for-your-graphic-colorful-design-vector.jpg') center/cover;
      color: rgb(73, 37, 37);
      text-align: left;
      padding: 80px 30px;
    }
    .hero h2 {
      font-weight: bold;
    }